$modal-width: 550px
$modal-padding: 10px
$text-position: center

.modal
  max-width: $modal-width
  text-align: $text-position

  &__header
    text-align: $text-position

  &__edit-title
    width: $modal-width
    text-align: $text-position

  .content-editable
    width: $modal-width

  .data-input
    padding-bottom: $modal-padding

  .data-input-label
    display: block

  .React__Body--open
    top: 50%
    left: 50%
    right: auto
    bottom: auto
    margin-right: -50%
    transform: translate(-50%, -50%)
    background-color: #42275a
    color: navajowhite
    max-width: 550px

.notes-container
  display: flex
  flex-wrap: wrap
  justify-content: center
